.countdownContainer {
  display: flex;
  align-items: center;
  font-family: Rajdhani;
  font-weight: 600;
  color: var(--title);
}
.countdownContainer > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 8.5rem;
  text-align: center;
  background-color: var(--white);
}
.countdownContainer > span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
}
.countdownContainer > div span:first-child {
  border-right: solid 1px #f0f1f3;
}
.countdownContainer > div span:last-child {
  border-left: solid 1px #f0f1f3;
}
.countdownContainer > div span {
  flex: 1;
}

.countdownButton {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 5rem;

  margin-top: 2rem;

  border: 0;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  transition: background-color 0.2s;
}
.countdownButton:not(:disabled):hover {
  background-color: var(--blue-dark);
}
.countdownButton.countdownButtonPause {
  background-color: var(--red);
}
.countdownButton.countdownButtonPause:not(:disabled):hover {
  color: var(--title);
}

.countdownButton:disabled {
  cursor: not-allowed;
  background-color: var(--white);
  color: var(--text);
}
